body {
    font-family: Arial, sans-serif;
    background-color: #f4f4f9;
    margin: 0;
    padding: 0;
    display:list-item;
    justify-content: center;
    align-items: center;
    height: 100vh;
}

h2 {
    text-align: center;
    color: #333;
}

form {
    background-color: #fff;
    padding: 20px 30px;
    border-radius: 8px;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
    width: 100%;
    max-width: 400px;
    margin: auto;
}

label {
    font-weight: bold;
    color: #555;
}

input {
    width: 100%;
    padding: 10px;
    margin: 8px 0 16px;
    border: 1px solid #ccc;
    border-radius: 4px;
    box-sizing: border-box;
}

button {
    width: 100%;
    padding: 10px;
    background-color: #007BFF;
    color: white;
    border: none;
    border-radius: 4px;
    font-size: 16px;
    cursor: pointer;
}

button:hover {
    background-color: #0056b3;
}

.logout {
    margin : 20px;
    display: flex;
    justify-content: center;
}

.logout button { 
    cursor: pointer;
    padding: 10px;
    font-size: 13px;
    margin-right: 20px;
    background-color: #dc3545;
    border-radius: 8px;
}

.home {
    margin : 20px;
    display: flex;
    justify-content: center;
}

.home button {
    cursor: pointer;
    padding: 10px;
    font-size: 15px;
    margin-right: 20px;
    background-color: #3eb13e;
    border-radius: 8px;
}

.list {
    margin : 20px;
    display: flex;
    justify-content: center;
}

.list button {
    cursor: pointer;
    padding: 10px;
    font-size: 15px;
    margin-right: 20px;
    background-color: #ffc107;
    border-radius: 8px;
    color: black;
}

.footer {
    margin : 5px;
    display: flex;
    justify-content: center;
}

.footer a {
    text-decoration: none;
}