body {
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    background-color: #f5f5f5;
    padding: 20px;
    margin: 0;
}

.container {
    max-width: 1000px;
    margin: auto;
    background-color: white;
    padding: 30px;
    border-radius: 10px;
    box-shadow: 0px 4px 15px rgba(0, 0, 0, 0.1);
}

h2 {
    text-align: center;
    margin-bottom: 20px;
    color: #333;
}

table {
    width: 100%;
    border-collapse: collapse;
    margin-bottom: 20px;
}

table th, table td {
    padding: 12px;
    border: 1px solid #ddd;
    text-align: left;
}

table th {
    background-color: #007BFF;
    color: white;
}

tr:nth-child(even) {
    background-color: #f9f9f9;
}

.btn {
    background-color: #28a745;
    color: white;
    padding: 8px 12px;
    text-decoration: none;
    border-radius: 5px;
    margin-right: 5px;
}

.btn:hover {
    background-color: #218838;
}

.btn-delete {
    background-color: #dc3545;
    color: white;
    padding: 8px 12px;
    text-decoration: none;
    border-radius: 5px;
    margin-right: 5px;
}

.btn-delete:hover {
    background-color: #c82333;
}

.btn-edit {
    background-color: #ffc107;
    color: black;
    padding: 8px 12px;
    text-decoration: none;
    border-radius: 5px;
    margin-right: 5px;
}

.btn-edit:hover {
    background-color: #e0a800;
}

.search-form {
    display: flex;
    justify-content: center;
    margin-bottom: 20px;
}

.search-form input {
    padding: 8px;
    width: 300px;
    margin-right: 10px;
}

.search-form button {
    padding: 8px 12px;
}

.export {
    margin : 20px;
    display: flex;
    justify-content: center;
}

.export button{
    cursor: pointer;
    padding: 10px;
    font-size: 13px;
    margin-right: 20px;
    background-color: #007BFF;
    border-radius: 8px;
}

.export button:hover{
    background-color: #5a98da;
}

.pagination {
    display: flex;
    justify-content: center;
    margin-top: 20px;
    flex-wrap: wrap;
}

.pagination a {
    color: #007BFF;
    text-decoration: none;
}

.pagination a:hover {
    color :#dc3545;
}

.logout {
    margin : 20px;
    display: flex;
    justify-content: center;
}

.logout a {
    text-decoration:none;
    
}

.logout button { 
    cursor: pointer;
    padding: 10px;
    font-size: 15px;
    margin-right: 20px;
    background-color: #3eb13e;
    border-radius: 8px;
    color: white;
}